@charset "utf-8";

#dreambox{
    width: 100%;
    height: 100%;
    background: #fadc8c url("../img/bg.jpg") center top no-repeat;
    background-size: 100% auto;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 100%;
    display: inline-block;
    margin: 10% 0 0 0;
    position: relative;
}

.section{
    width: 100%;
    height: 75%;
    text-align: center;
}

.tableLayer{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    /*background: #fff;*/
}

.tableLayer .logo{
    opacity: 0;
}

.kv{
    width: 100%;
    display: inline-block;
    position: relative;
}

.slogan{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -167%;
}

.form{
    width: 76%;
    display: inline-block;
    font-size: 1.4rem;
    margin: -9% 0 0 0;
    color: #675642;
    position: relative;
    z-index: 2;
}

.form h3{
    font-size: 1.2rem;
    width: 100%;
    display: inline-block;
    padding: 0 0 6px 0;
}

.form ul, .form li{
    width: 100%;
    display: inline-block;
}

.form li{
    margin: 2% 0;
}

.pact{
    font-size: 1.2rem;
    padding: 0 0 16px 0;
}

.pact span{
    width: 12px;
    height: 12px;
    background: url("../img/checkbox.png") center top no-repeat;
    background-size: 100% auto;
    display: inline-block;
    margin: 0 6px 0 0;    
}

.pact span.nocheck{
    background: url("../img/checkbox.png") center bottom no-repeat;
    background-size: 100% auto;
}

.pact a{
    color: #675642;
    border-bottom: 1px #675642 solid;
}

.pact span input{
    /*margin: 30px 0 0 0;*/
    opacity: 0;
}

.inputTextStyle{
    width: 96%;
    border: 1px #675642 solid;
    /*float: left;*/
    display: inline-block;
}

.inputTextStyle.phone{
    background: url("../img/phone.png") 10px center no-repeat;
    background-size: 10px auto;
}

.inputTextStyle input{
    height: 36px;
    line-height: 36px;
    width: calc(100% - 30px);
    margin-left: 30px;
    float: left;
    display: inline-block;
    font-size: 1.4rem;
}

.inputTextStyle.w60{
    width: 60%;
}

.btn{
    width: 50%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 1.5rem;
    background: #fff;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.btn.w42{
    width: 42%;
    margin: 0 2%;
}

.btn.w80{
    width: auto;
    margin: 0 2%;
    padding: 0 5%;
    letter-spacing: 0rem;
}

/*.btn:after{
    width: 100%;
    height: 100%;
    content: " ";
    background: #ba0c2f;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    border: 2px #fff solid; 
}
*/
.btn i{
    font-style: normal;
    position: relative;
    z-index: 2;
    color: #e0c675;
}


/* video */

.videoCon{
    position: relative;
}

.videoArea{
    width: 90%;
    display: inline-block;
    margin: 15% 0 6% 0;
}

.videoFoot{
    width: 100%;
    padding: 6px 0;
    text-align: center;
    display: inline-block;
}

.videoFoot a{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url("../img/heart.png") center -11% no-repeat;
    background-size: 36px auto;
}

.videoFoot a.disable, .videoFoot a.hover{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url("../img/heart.png") center 112% no-repeat;
    background-size: 36px auto;
}

.videoFoot span{
    width: 100%;
    color: #8e8682;
    font-size: 1.6rem;
    font-family: Arial;
    display: inline-block;
}

.videoHotArea{
    width: 90%;
    text-align: center;
    display: inline-block;
}

.videoHotArea h3{
    font-size: 1.2rem;
    color: #675642;
    /*text-transform:uppercase;*/
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
    position: relative;
}

.vposter{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.vposter span{
    width: 100%;
    height: 100%;
    background: url("../img/play.png") center no-repeat;
    background-size: 50px auto;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

#vplay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

.activeRules{
    display: inline-block;
    padding: 1% 6% 0 6%;
}
.activeRules i{
    color: #675642;
    border-bottom: 1px #675642 solid;
    font-size: 1.2rem;
}

.btnArea{
    padding: 6px 0 16px 0;
    width: 100%;
    display: inline-block;
}



.btn.disable{
    border: 1px #8e8682 solid;
}

.btn.disable:after{
    background: #8e8682;
}

.shareTips{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) url("../img/shareTips.png") center 6% no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    display: none;
}



.alertNode{
    width: 100%;
    padding: 16px 0;
    background: rgba(255,255,255,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    font-size: 14px;
    color: #675642;
    text-align: center;
    /*letter-spacing: 0.1em;*/
}






















/* popups */
.popupsNode{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 99;
}

.popups{
    width: 86%;
    height: 80%;
    overflow: hidden;
    position: absolute;
    left: 7%;
    top: 10%;
    background: #fff;
    text-align: center;
    display: none;
    z-index: 100;
}

.popups h2{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #fee193;
    font-size: 1.9rem;
    text-align: center;
    color: #675642;
    position: relative;
    display: inline-block;
}

.popups h3{
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
    color: #675642;
    display: inline-block;
    padding: 16px 0 9px 0;
}


.close{
    width: 26px;
    height: 26px;
    position: absolute;
    right: 0;
    top: 50%;
    margin: -13px 6px 0 0;
    z-index: 9;
}

.close:before, .close:after{
    width: 100%;
    height: 1px;
    background: #675642;
    position: absolute;
    left: 0;
    content: " ";
}

.close:before{
    top: 50%;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);     /* IE 9 */
    -moz-transform:rotate(45deg);    /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg);  /* Opera */
    transform-origin: center center;
}

.close:after{
    bottom: 50%;
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);     /* IE 9 */
    -moz-transform:rotate(-45deg);    /* Firefox */
    -webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
    -o-transform:rotate(-45deg);  /* Opera */
    transform-origin: center center;
}

.popups_con{
    width: 86%;
    height: calc(100% - 50px);
    display: inline-block;
}

.rulecon{
    width: 100%;
    max-height: 90%;
    padding: 0 1% 0 0;
    margin: 5% 0;
    display: inline-block;
    overflow: auto;
    text-align: left;
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: #675642;
}

.rulecon p{
    padding: 6px 0;
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
    word-break: normal; 
}

.rulecon blockquote{
    width: 92%;
    display: inline-block;
    margin: 0 0 0 8%;
}


#activeRulesLayer .rulecon p, #clayer .rulecon p{
    text-align: center;
}

#clayer .rulecon p{
    padding: 16px 0;
}

#clayer{
    top: 27%;
    height: auto;
}



/*#vplay{
    visibility: hidden;
}
*/



/* 宁波 */
#dreambox.resultbg{
    background: #fadc8c url("../img/bg.jpg") center no-repeat;
    background-size: 100% auto;
}

#result{
    width: 100%;
    height: 75%;
    position: absolute;
    left: 0;
    top: 25%;
    z-index: 2;
    display: none;
}

.danceSlogan{
    margin: 14% 0 0 0;
    display: inline-block;
}

.resultText{
    width: 100%;
    margin: 16% 0 0 0;
    text-align: center;
    color: #675642;
    display: inline-block;
}


/* 7.25 */
.resultText h3{
    width: 100%;
    margin: 0 0 6px 0;
    display: inline-block;
    pointer-events: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    /*background: url("../img/codeText.png") center no-repeat;
    background-size: 100% auto;
    font-size: 1.5rem;*/
}

.resultText h3 img{
    pointer-events: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
}

.tbCode{
    width: 80%;
    border: 2px #857253 solid;
    padding: 16px 10px 16px 16px;
    text-align: left;
    margin: 14px 0 10px 0;
    font-size: 1.3rem;
    color: #675642;
    position: relative;
    z-index: 2;
    display: inline-block;
}

.tbCode textarea{
    width: 100%;
    display: inline-block;
}

.tbCode_tps{
    width: 100%;
    text-align: center;
    line-height: 18px;
    color: #675642;
    font-size: 1.2rem;
    display: inline-block;
}








/* 6plus */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    .logo{
        margin: 15% 0 0 0;
    }

    .videoArea{
        margin: 18% 0 6% 0;
    }

}

/* 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) and (orientation: portrait) {
    .logo{
        margin: 15% 0 0 0;
    }

    .videoArea{
        margin: 18% 0 6% 0;
    }
}

/* 5s */

@media handheld and (min-height:490px),screen and (max-height:510px) {
    .logo{
        margin: 10% 0 0 0;
    }

    .videoArea{
        margin: 18% 0 6% 0;
    }

    .form{
        width: 90%;
    }

    .inputTextStyle{
        width: 90%;
    }
}

/* 4s */

@media handheld and (min-height:400px),screen and (max-height:420px) {
    .logo{
        margin: 7% 0;
    }

    .slogan{
        bottom: -180%;
    }

    .kv{
        margin: -12% 0 0 0;
    }

    .form{
        width: 90%;
        font-size: 1.2rem;
        margin: -14% 0 0 0;
    }

    .form li{
        margin: 1.5% 0;
    }

    .pact{
        padding: 0 0 6px 0;
    }

    .inputTextStyle{
        width: 90%;
    }

    .inputTextStyle input{
        height: 32px;
        line-height: 32px;
    }

    .btn{
        height: 36px;
        line-height: 36px;
    }

    .videoArea{
        margin: 4% 0 2% 0;
        width: 80%;
    }

    #video h2{
        font-size: 1.8rem;
    }

    .videoHotArea h3{
        line-height: 1.4rem;
    }

    .videoFoot{
        padding: 2px 0;
    }

    .btnArea{
        padding: 0 0 8px 0;
    }

    .rulecon p{
        font-size: 1.2rem;
    }

    #result{
        width: 100%;
        height: 75%;
        position: absolute;
        left: 0;
        top: 16%;
        z-index: 2;
        display: none;
    }

    .danceSlogan{
        margin: 6% 0 0 0;
        display: inline-block;
    }

    .resultText{
        margin: 12% 0 0 0;
    }

    .resultText h3{
        width: 96%;
        margin: 0 0 6px 0;
    }

}


/* mz */
@media only screen and (device-height: 640px) and (device-width: 384px){

    .logo{
        margin: 10% 0;
    }

    .slogan{
        bottom: -180%;
    }

    .kv{
        margin: -10% 0 0 0;
    }

    .form{
        width: 80%;
        font-size: 1.2rem;
        margin: -12% 0 0 0;
    }

    .form li{
        margin: 1.5% 0;
    }

    .pact{
        padding: 0 0 6px 0;
    }

    .inputTextStyle{
        width: 90%;
    }

    .inputTextStyle input{
        height: 32px;
        line-height: 32px;
    }

    .btn{
        height: 36px;
        line-height: 36px;
    }

    .videoArea{
        margin: 4% 0;
        width: 80%;
    }

    #video h2{
        font-size: 1.8rem;
    }

    .videoHotArea h3{
        line-height: 1.4rem;
    }

    .videoFoot{
        padding: 9px 0;
    }

    .btnArea{
        padding: 0 0 9px 0;
    }

    .rulecon p{
        font-size: 1.2rem;
    }

    #result{
        width: 100%;
        height: 75%;
        position: absolute;
        left: 0;
        top: 16%;
        z-index: 2;
        display: none;
    }

    .danceSlogan{
        margin: 6% 0 0 0;
        display: inline-block;
    }

    .resultText{
        margin: 12% 0 0 0;
    }
    
    .resultText h3{
        width: 96%;
        margin: 0 0 6px 0;
    }
}







.opa0{
    opacity: 0;
}


